html{
min-height: 100%;
height: 100%;
}

body {
 min-height: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.mic{
    width:200px;
    position:absolute;
    top:15px;
    right:0px
}

.africa{
    width:300px;
    position:absolute;
    top:20px;
    left:0px
}

#player{
		width:100%;
    position:absolute;
    top:250px;
}


#sp-wrapper {
    display:none;
	position:absolute;
    z-index:30001;
	left:0;
	width:100%;
    padding:20px 0px;
    -webkit-transition: all .25s ease-out;
    background: white;
}

#sp-wrapper span{
    display:inline-block;
}

#sp-wrapper a {
	font:bold 20px Arial !important;
    text-shadow:0px 0px 0px;
    margin:3px 20px;
    padding:10px 0px;
    text-transform:none;
    border-bottom:1px solid #ccc
}

.openSP{
    -webkit-transform: translate3D(0px,-200px, 0px);
}



p{
    padding:5px 0;
    line-height:1.2em;
}


.list_title{
    padding-left:15px;
    text-align:left;
    border-bottom: 1px solid #CCC;
    font-size:22px;
		height:50px;
		overflow:hidden;
}




.sync_logo{
    position: absolute;
    top:5px;
    left:10px;
    width: 40px;
    height:40px;
    max-width: 40px;
    max-height:40px;
    background:url(sync.png);
    -webkit-background-size:40px 40px
}

.about_logo{
    position: absolute;
    top:5px;
    right:10px;
    width: 40px;
    height:40px;
    max-width: 40px;
    max-height:40px;
    background:url(about.png);
    -webkit-background-size:40px 40px
}


#video_page, #more_page{
    background:url(images/africa2.png) 50% 25%;
    background-size:500px auto;
    
}

#schedule_wrapper{
    position:relative;
    width:80%;
}

#schedule_table tr td{
    text-align:right;
    padding:5px;
    font-size:15px;
}

#schedule_table tr:nth-child(odd) td{
    background:#ededed;
}


#news_list{
	font-size:15px;
}
